executor {
    name = 'slurm'
    queueSize = 96 //edit this
    account = 'username' //edit this
    jobName = {"${task.process}_${task.hash}"}
    submitRateLimit = '10sec'
}

process {
    //global options for all processes
    executor = 'slurm'
    errorStrategy = 'terminate' //'ignore'

    //edit these options for your account and cluster details
    clusterOptions = "--partition=partition_name",
                     "--qos=quality_of_service",
                     "--mail-type=ALL",
                     "--mail-user=you@example.com"
    
    //process specific options
    //if you run into resource constriants change these values 
    withName: 'setup_exes' {
        errorStrategy = 'terminate'
        cpus = 1
        memory = 4.GB
        time = '2h'
    }

    withName: 'msconvert' {
        cpus = 1
        memory = 8.GB
        time = '4h'
    }

    withName: 'comet' {
        cpus = 4
        memory = 16.GB
        time = '24h'
    }

    withName: 'percolator' {
        cpus = 3
        memory = 8.GB
        time = '24h'
    }

    withName: 'xcms|feature_mapper' {
        cpus = 1
        memory = 8.GB
        time = '24h'
    }
}
